/* 
    Document   : main.css
    Author     : Sven Ruppert
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.autofill-text {
    -fx-skin: "org.rapidpm.demo.javafx.textfield.autocomplete.AutoCompleteTextFieldSkin";
}

{
}

root {
    display: block;
}

